In [2]:
use Seguradora

In [11]:
CREATE TABLE Clientes
(
CodCliente INT PRIMARY KEY,
Nome VARCHAR(45) NOT NULL,
CPF VARCHAR (45) NOT NULL UNIQUE,
Sexo VARCHAR (20), 
Estado VARCHAR(45),
Cidade VARCHAR(45) DEFAULT 'Itapira',
Bairro VARCHAR(45),
Numero VARCHAR(45),
Rua VARCHAR(45),
TelefoneFixo VARCHAR(45),
TelefoneCelular VARCHAR(45) NOT NULL UNIQUE,
);

In [13]:
CREATE TABLE Carro
(
CodCarro INT PRIMARY KEY,
Placa VARCHAR(45),
Marca VARCHAR(45) ,
Modelo VARCHAR(45) , 
Ano VARCHAR(45),
Chassi VARCHAR(45),
Cor VARCHAR(45),
);

: Msg 2714, Level 16, State 6, Line 1
Já existe um objeto com nome 'Carro' no banco de dados.

In [24]:
CREATE TABLE Apolice
(
CodApolice INT PRIMARY KEY NOT NULL,
ValorCobertura DECIMAL NOT NULL  ,
ValorFranquia DECIMAL NOT NULL  ,
DataInicioVigencia DATE NOT NULL CHECK > GETDATE , 
DataFimVigencia DATE NOT NULL,
Cliente_CodCliente INT NOT NULL ,
Carro_CodCarro INT NOT NULL ,
Constraint chk_dataInicioVigencia CHECK (DataInicioVigencia >= GETDATE()),
FOREIGN key (Clientes_CodCliente) REFERENCES Clientes(CodCliente),
FOREIGN key (Carro_CodCarro) REFERENCES Carro(CodCarro),
);

: Msg 102, Level 15, State 1, Line 6
Sintaxe incorreta próxima a '>'.

In [22]:
CREATE TABLE Sinistro
(
CodSinistro PRIMARY KEY INT,
HoraSinistro INT ,
DataSinistro DATE ,
LocalSinistro VARCHAR(45) , 
Condutor VARCHAR(45),
Carro_CodCarro  INT ,
Constraint pk_Sinistro PRIMARY key (CodSinistro, Carro_CodCarro),
foreign PRIMARY key (CodSinistro_Apolice_CodApolice),
);

: Msg 173, Level 15, State 13, Line 3
A definição da coluna 'CodSinistro' deve incluir um tipo de dados.